#list-ol-yellow {
    background-color: yellow;
    font-weight: bold;
}

.par li:nth-child(2n) {
    color: green;
}

.impar li:nth-child(odd) {
    text-transform: uppercase;
}

.h-red  {
    color: red;
}

h1.h-red {
    font-size: 40px; 
    border: 1px black solid;
}

li {
    font-size: 20px;
}

.li-azul li:nth-child(-n+3) {
    background-color: rgb(51, 141, 214);
}
